div#code-ci {
  float: left;
  width: 50%;
}

div#nagios-api { 
  float: left;
  width: 50%;
}

table.nagios-api {
  width: 100%;
  height: 100%;
}

.state-good { overflow: hidden; }
.state-bad  { overflow: hidden; }

.host-entry {
  border: solid magenta 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  /* width: 48.2%; */
  width: 47.5%; /* allow some space for borders */
  vertical-align: middle;
}

.entry-container { 
  overflow: hidden;
  width: 50%;
}

span { 
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.left  { float: left; }
.right { float: right; }

.status-critical { 
  background-color: #FF5050;
  border-color:  #CC0000;
}

.status-warning { 
  background-color: #FFFF99;
  border-color:  #B89300;
}

.status-ok { 
  background-color: #4D944D;
  border-color:  #1F3B1F;
}

.status-na { 
  background-color: #DDDDDD;
  border-color:  #333333;
}